*.pt
*.pyc
*.jpg
*.pkl
*.zip
__pycache__
.ipynb_checkpoints
align
croped
video
wav
wav_mono
preprocess2
feature_extractor
features
testset
label
log
expr_results
au_results
va_results
test_AU.py
test_EXPR.py
test_VA.py
test_val.py
submit.sh
*.ipynb